# Example environment variables that can be added to version control.

SECRET_KEY=your_django_secret_key_here
DEBUG=True
DB_NAME=fundflow_db
DB_USER=your_db_username
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
PLAID_CLIENT_ID=your_plaid_client_id
PLAID_SECRET=your_plaid_secret
PLAID_ENV=sandbox